/* .v-data-table__wrapper {}

.v-data-table-header {} */



body {
    margin: 30px;
}

@page {
    size: A4 landscape;
    size: 287mm 210mm;
}

.v-toolbar__title {
    font-size: 1.4rem;
    line-height: 1.5;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 37%;
}

header {
    font-weight: 700 !important;
}

.light-blue {
    background-color: #03a9f4 !important;
    border-color: black !important;
}

.text-start{
    font-size: 12px;
}

.v-toolbar__content,
.v-toolbar__extension {
    align-items: center;
    display: flex;
    position: relative;
    z-index: 0;
    padding: 4px 16px;
}

.v-data-table__wrapper {
    overflow-x: auto;
    overflow-y: hidden;
}

.title {
    font-size: 1.25rem !important;
    font-weight: 500;
    line-height: 2rem;
    letter-spacing: 0.0125em !important;
    font-family: "Roboto", sans-serif !important;
    border: 1px solid black;
}

.black--text {
    color: #000000 !important;
    caret-color: #000000 !important;
}

.font-weight-black {
    font-weight: 900 !important;
}

.v-data-table>.v-data-table__wrapper>table {
    width: 100%;
    border-spacing: 0;
}


table {
    border-collapse: collapse
}

td {
    border: 1px solid black
}

tr {
    border: 2px solid black
}

#image img {
   margin-left: 40%;
}

#image img {
    object-fit: contain;
    width: 150px;
    height: 150px;
}

.v-data-footer__select {
    margin-left: auto;
    margin-right: 14px;
    display: flex;
    align-items: center;
    flex: 0 0 0;
    justify-content: flex-end;
    white-space: nowrap;
}

.v-data-footer__pagination{
    margin: 0 32px 0 24px;
}
.v-data-footer{
    border-top: thin solid rgba(0, 0, 0, 0.12);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 0.75rem;
    padding: 0 8px;
}

.tanggal{
    margin-left: 20%;
}
